img {max-width:100%; height:auto}
.footer-bottom {margin-top:0; padding-top:0;}
.navbar-nav>li a img {transition:0.5s; width:auto; height:14px;}
.navbar-nav>li a .red {display:none;}
.navbar-nav>li a .white {display:block;}
.navbar-nav>li a .black {display:none;}
.navbar-nav>li a:hover .white {display:none;}
.navbar-nav>li a:hover .red {display:block;}
.top-nav-collapse .navbar-nav li a .black {display:block;}
.top-nav-collapse .navbar-nav li a .red, .top-nav-collapse .navbar-nav li a .white {display:none;}